<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload files in flask</title>
    <style>
        body {
            background-color: #f2f2f2;
            text-align: center;
            font-size: 20px;
        }
        h1 {
            font-size: 5rem;
            font-family: sans-serif; 
        }
    </style>
</head>
<body>
    <h1>Uploaded File: {{ filename }}</h1>
    <p><a href="{{ url_for('file') }}">Upload Another File</a></p>
</body>
</html>